#
# buildout config file to download the set up Zend Framework
#

[pathes]
sandbox-buildout-template-directory = ${buildout:directory}/src/sandbox/buildout/template
# pathes for sandbox app, 
sandbox-zendapp = ${buildout:directory}/src/sandbox/zendapp
sandbox-zendapp-config = ${:sandbox-zendapp}/configs/application.ini
sandbox-zendapp-index.php = ${:sandbox-zendapp}/public/index.php
sandbox-tests = ${buildout:directory}/src/sandbox/tests

[settings]
sandbox-zend-logging-file = ${:log-directory}/zend-sandbox.log
sandbox-zend-logging-priority = 7
# Zend application env: development, staging, production
sandbox-zendapp-APPLICATION_ENV = development

# generate the Zend application test helper php from template.
# this will also present as the sample for how to unit test Zend application.
[zend-sandbox-testhelper]
recipe = collective.recipe.template
output = ${pathes:sandbox-tests}/ZendTestHelper.php
application-env = testing
input = ${pathes:sandbox-buildout-template-directory}/ZendHelper-sandbox.php.in
mode = 644

# generate the Zend application config ini
[zend-sandbox-appini]
recipe = collective.recipe.template
output = ${pathes:sandbox-zendapp-config}
input = ${pathes:sandbox-buildout-template-directory}/zend-sandbox-appini.in
mode = 644

[zend-sandbox-index]
recipe = collective.recipe.template
output = ${pathes:sandbox-zendapp-index.php}
input = ${pathes:sandbox-buildout-template-directory}/zend-sandbox-index.php.in
mode = 644

# using shell command to symlink the public folder to the Web Server
# document root folder
[symlink-zend-app]
recipe = cp.recipe.cmd
shell = /bin/sh
install_cmd = 
#    echo "symlink the zendapp to Web Server document root."
    rm ${pathes:sandbox-nginx-root}/zendapp
    ln -s ${pathes:sandbox-zendapp}/public ${pathes:sandbox-nginx-root}/zendapp
update_cmd = ${:install_cmd}

[zend-sandbox-scripthelper]
recipe = collective.recipe.template
output = ${pathes:sandbox-zendapp}/scripts/ZendScriptHelper.php
application-env = testing
input = ${pathes:sandbox-buildout-template-directory}/ZendHelper-sandbox.php.in
mode = 644


